.btn-wire {
  
  border: 2px solid;
  
}

.jumbotron {
  
  .btn-wire {
    
    margin-top: 10px;
    
  }
}

.btn-headroom {
  
  margin-top: 2em;
  
}

.btn {
  
  border-radius: 36px;
  // padding: 6px 36px;
  
}