.card {
  
  text-align: center;
  padding: 1em;
  
}

.card-reasons {
  
  text-align: left;
  // margin-top: 3em;
  
  ol {
    
    li {
      
      font-size: 22px;
      border-bottom: 1px solid #FFF;
      border-top: 1px solid #FFF;
      
      .mega {
        
        font-size: 66px;
        font-weight: 700;
        
      }
      
    }
  }

}

.card-colourful {
  
  background: #911e73;
  background: -moz-linear-gradient(-45deg, #911e73 0%, #911e73 25%, #e30f13 71%, #e30f13 100%);
  background: -webkit-linear-gradient(-45deg, #911e73 0%,#911e73 25%,#e30f13 71%,#e30f13 100%);
  background: linear-gradient(135deg, #911e73 0%,#911e73 25%,#e30f13 71%,#e30f13 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#911e73', endColorstr='#e30f13',GradientType=1 );
  
  @media screen and (max-width: $screen-xs) {
    
    margin-top: 3em;
    
  }
  
}

.card-cta {
  
  margin-top: 2em;
  
}

.card-feature {
  
  color: #FFF;
  
  a {
    
    color: #FFF;
    
  }
  
  h2, h3, h4 {
    
    color: #FFF;
    margin-top: 0;
    
  }
}

.card-jumbotron {
  
  a {
    
    color: #FFF;
    
  }
  
  p {
    
    font-size: 21px;
  }
  
  h2, h3, h4 {
    
    color: #FFF;
    margin-top: 10px;
    
  }
}

.jumbotron-inner {
  
  @media screen and (max-width: $screen-xs) {
    
   padding: 0 1em;
    
  }
  
}