.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label {
  
  color: $brand-warning;
}

.has-warning .form-control {
  
  border-color: $brand-warning;
  
}


.label-warning {
  
  color: $gray;
  
}

