<footer class="footer-sitewide">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
        <ul class="list-inline">
          <li>Copyright 2017 Sheffield Teaching Hospitals NHS Foundation Trust</li>
          <li><a href="http://www.sth.nhs.uk">www.sth.nhs.uk</a></li>
          <li><a href="http://www.sth.nhs.uk/cookie-policy">Cookie Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>