<nav class="navbar navbar-default navbar-topbar hidden-xs">
  <div class="container">
    <div class="row">
    <div id="topbar" class="">
      <ul class="nav navbar-nav navbar-topbar-nav">
        <li><%= link_to "Download application form", "./documents/2018/SODA Course Application form -  2018-2.doc" %></li>
        <li><%= link_to "Download course programme", "./documents/2018/May 2018 SODA programme.pdf" %></li>
        <li><a href="mailto:SODAcourse@gmail.com">Contact us</a></li>
      </ul>
    </div>
    </div>
  </div>
</nav>