<nav class="navbar navbar-default navbar-topbar hidden-xs">
  <div class="container">
    <div class="row">
    <div id="topbar" class="">
      <ul class="nav navbar-nav navbar-topbar-nav">
        <li><%= link_to "Download application booklet", "./documents/Sheffield Teaching Hospitals NHS Foundation Trust Graduate Management Scheme.pdf" %></li>
        <li><a href="mailto:GraduateScheme@sth.nhs.uk">Contact us</a></li>
      </ul>
    </div>
    </div>
  </div>
</nav>